<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Best Restaurants</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Best Restaurants of Portland</h1>
      </div>

      <p>Add a cuisine style</p>

      <form action="/cuisine" method="post">
        <label for="type">Style of food</label>
        <input id="type" name="type" type="text">

        <button type="submit">Add style</button>
      </form>

      {% if cuisines is not empty %}
        <p>Here are the cuisines you've listed:</p>
        <ul>
          {% for cuisine in cuisines %}
            <li><a href="/cuisine/{{ cuisine.getId }}">{{ cuisine.getType }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>There are no cuisines yet</p>
      {% endif %}

      <h1> Search for food</h1>
      <form action="/search" method="post">
        <label for="search">Cuisine type: </lable>
        <input id="search" name="search" type="text">
        <button type="submit">Search</button>
      </form>
    </div>
  </body>
</html>
