<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Search Results</title>
  </head>
  <body>
    <h1>Here are restaurants matching your cuisine search</h1>
    {% for restaurant in restaurants %}
      <p>{{ restaurant.getName }}</p>
    {% endfor %}

    <a href="/">Home</a>
  </body>
</html>
